<div class="custom-block collection-list color-{{ section.settings.color_scheme }}">
  {%- unless section.settings.title == blank -%}
    <div class="collection-list__headline">
      <h2 class="title">
        {{ section.settings.title }}
      </h2>

      {%- if section.settings.show_view_all -%}
        <a
          href="{{ routes.collections_url }}"
          class="link"
          aria-labelledby="ViewAll-{{ section.id }} SectionHeading-{{ section.id }}"
        >
          {{- 'sections.collection_list.view_all' | t -}}

          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.182 7.99996L14.8184 7.99996M14.8184 7.99996L8.2729 14.5454M14.8184 7.99996L8.2729 1.4545" stroke="black" stroke-width="1.6" stroke-linecap="square"/>
          </svg>
        </a>
      {%- endif -%}
    </div>
  {%- endunless -%}

  <div class="swiper collection-list__slider">
    <div class="swiper-wrapper">
      {%- for block in section.blocks -%}
        <div class="swiper-slide">
          {%- assign placeholder_image_index = forloop.index0 | modulo: 4 | plus: 1 -%}
          {%- assign placeholder_image = 'collection-apparel-' | append: placeholder_image_index -%}
          {%- assign card_collection = block.settings.collection -%}

          {% render 'card-collection',
            card_collection: card_collection,
            placeholder_image: placeholder_image,
            forloop: forloop
          %}
        </div>
      {%- endfor -%}
    </div>

    <!-- Swiper Navigation -->
    <div class="collection-list__slider__arrows">
      <div class="swiper-button js-list-prev">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M15.0914 7.99996L1.45508 7.99996M1.45508 7.99996L8.00053 14.5454M1.45508 7.99996L8.00053 1.4545" stroke="black" stroke-width="1.6" stroke-linecap="square"/>
        </svg>
      </div>
      <div class="swiper-button js-list-next">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1.182 7.99996L14.8184 7.99996M14.8184 7.99996L8.2729 14.5454M14.8184 7.99996L8.2729 1.4545" stroke="black" stroke-width="1.6" stroke-linecap="square"/>
        </svg>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.collection-list.name",
  "tag": "section",
  "class": "section section-collection-list",
  "max_blocks": 15,
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "Collections",
      "label": "t:sections.collection-list.settings.title.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info",
      "default": "background-1"
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "default": false,
      "label": "t:sections.collection-list.settings.show_view_all.label"
    }
  ],
  "blocks": [
    {
      "type": "featured_collection",
      "name": "t:sections.collection-list.blocks.featured_collection.name",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.collection-list.blocks.featured_collection.settings.collection.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.collection-list.presets.name",
      "blocks": [
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        }
      ]
    }
  ]
}
{% endschema %}
