<div
  class="custom-block cols-image-text"
  style="background-color: {{ section.settings.color_scheme.settings.background }};"
>
  <div class="container">
    {%- if section.settings.headline != blank -%}
      <div class="cols-image-text__title">
        <h3 class="title" style="color: {{ section.settings.color_scheme.settings.headline }};">
          {{ section.settings.headline }}
        </h3>
      </div>
    {%- endif -%}

    {% if section.blocks %}
      <!-- Mobile -->
      <div class="cols-image-text__content cols-image-text__content--mobile">
        <!-- Swiper -->
        <div class="swiper cols-image-text-slider js-cols-image-text-slider">
          <div class="swiper-wrapper">
            {% for block in section.blocks %}
              <div class="swiper-slide">
                <div class="cols-card {% if block.settings.video != blank %}js-scroll-video{% endif %}">
                  {% if block.settings.main_image != blank or block.settings.video != blank %}
                    <div class="cols-card__image">
                      <div class="wrap-media wrap-media--{{block.settings.media_ratio}} {% if block.settings.video != blank %}wrap-media--video{% endif %}">
                        {% if block.settings.video != blank %}
                          {% assign has_video = true %}
                          <div class="wrap-video">
                            {{
                              block.settings.video
                              | video_tag: autoplay: true, loop: true, muted: true, controls: false
                            }}
                          </div>
                        {% endif %}
                        {% if block.settings.main_image != blank %}
                          <picture>
                            <source
                              srcset="{{ block.settings.main_image | image_url: width: 650 }}"
                              media="(min-width: 450px)"
                            >
                            <source srcset="{{ block.settings.main_image | image_url: width: 450 }}">
                            <img
                              src="{{ block.settings.main_image | image_url }}"
                              width="{{ block.settings.main_image.width }}"
                              height="{{ block.settings.main_image.height }}"
                              loading="lazy"
                            >
                          </picture>
                        {% endif %}
                      </div>
                    </div>
                  {% endif %}

                  {% if block.settings.text != blank %}
                    <div class="cols-card__text">
                      <div class="text text--medium" style="color: {{ section.settings.color_scheme.settings.text }};">
                        {{ block.settings.text }}
                      </div>
                    </div>
                  {% endif %}
                </div>
              </div>
            {% endfor %}
          </div>
          <div class="cols-image-text-slider-nav">
            <div class="cols-image-text-slider-prev js-cols-image-text-slider-prev">
              <svg xmlns="http://www.w3.org/2000/svg" width="15" height="16" viewBox="0 0 15 16" fill="none">
                <path d="M14.25 8L1.75 8M1.75 8L7.75 14M1.75 8L7.75 2" stroke="black" stroke-width="1.5" stroke-linecap="square"/>
              </svg>
            </div>
            <div class="cols-image-text-slider-next js-cols-image-text-slider-next">
              <svg xmlns="http://www.w3.org/2000/svg" width="15" height="16" viewBox="0 0 15 16" fill="none">
                <path d="M0.75 8L13.25 8M13.25 8L7.25 14M13.25 8L7.25 2" stroke="black" stroke-width="1.5" stroke-linecap="square"/>
              </svg>
            </div>
          </div>
        </div>
      </div>
      <!-- END Mobile -->

      <!-- Desktop -->
      <div class="cols-image-text__content cols-image-text__content--desktop">
        <div class="row">
          {% for block in section.blocks %}
            <div class="col-md-6">
              <div class="cols-card {% if block.settings.video != blank %}js-scroll-video{% endif %}">
                {% if block.settings.main_image != blank or block.settings.video != blank %}
                  <div class="cols-card__image">
                    <div class="wrap-media wrap-media--{{block.settings.media_ratio}} {% if block.settings.video != blank %}wrap-media--video{% endif %}">
                      {% if block.settings.video != blank %}
                        <div class="wrap-video">
                          {{
                            block.settings.video
                            | video_tag: autoplay: true, loop: true, muted: true, controls: false
                          }}
                        </div>
                      {% endif %}
                      {% if block.settings.main_image != blank %}
                        <picture>
                          <source
                            srcset="{{ block.settings.main_image | image_url: width: 650 }}"
                            media="(min-width: 450px)"
                          >
                          <source srcset="{{ block.settings.main_image | image_url: width: 450 }}">
                          <img
                            src="{{ block.settings.main_image | image_url }}"
                            width="{{ block.settings.main_image.width }}"
                            height="{{ block.settings.main_image.height }}"
                            loading="lazy"
                          >
                        </picture>
                      {% endif %}
                    </div>
                  </div>
                {% endif %}

                {% if block.settings.text != blank %}
                  <div class="cols-card__text">
                    <div class="text text--medium" style="color: {{ section.settings.color_scheme.settings.text }};">
                      {{ block.settings.text }}
                    </div>
                  </div>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      <!-- END Desktop -->
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "Columns Image Text",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "headline",
      "default": "Image with text",
      "label": "Headline"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    }
  ],
  "blocks": [
    {
      "type": "Column",
      "name": "Column",
      "limit": 2,
      "settings": [
        {
          "type": "image_picker",
          "id": "main_image",
          "label": "Main Image"
        },
        {
          "type": "video",
          "id": "video",
          "label": "Main Video"
        },
        {
          "type": "select",
          "id": "media_ratio",
          "label": "Media Aspect Ratio",
          "options": [
            {
              "value": "square",
              "label": "1:1 (850 x 850)"
            },
            {
              "value": "landscape",
              "label": "16:9 (850 x 480)"
            },
            {
              "value": "vertical",
              "label": "1:2 (850 x 1700)"
            }
          ],
          "default": "vertical"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
          "label": "t:sections.image-with-text.blocks.text.settings.text.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Columns Image Text"
    }
  ]
}
{% endschema %}
