<div class="custom-block contact-form">
  <div class="container">
    <div class="row justify-center">
      <div class="col-lg-6 col-xl-5">
        <div class="contact-form__text">
          {%- if section.settings.headline != blank -%}
            <h3 class="title">
              {{ section.settings.headline }}
            </h3>
          {%- endif -%}
          {%- if section.settings.content != blank -%}
            <div class="text">
              {{ section.settings.content }}
            </div>
          {%- endif -%}
        </div>
      </div>
      <div class="col-lg-6 col-xl-5">
        <div class="wrap-form">
          {%- form 'contact', id: 'ContactForm', class: '' -%}
            {%- if form.posted_successfully? -%}
              <h2 class="form-status form-status-list form__message" tabindex="-1" autofocus>
                {% render 'icon-success' %}
                {{ 'templates.contact.form.post_success' | t }}
              </h2>
            {%- endif -%}
            <div class="form-group">
              <label class="field__label" for="ContactForm-name">
                {{ 'templates.contact.form.name' | t }}
                <span aria-hidden="true">*</span>
              </label>
              <input
                class="field__input"
                autocomplete="name"
                type="text"
                id="ContactForm-name"
                aria-required="true"
                required
                name="contact[{{ 'templates.contact.form.name' | t }}]"
                value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
              >
            </div>
            <div class="form-group">
              <label class="field__label" for="ContactForm-email">
                {{- 'templates.contact.form.email' | t }}
                <span aria-hidden="true">*</span>
              </label>
              <input
                autocomplete="email"
                type="email"
                id="ContactForm-email"
                class="field__input"
                name="contact[email]"
                spellcheck="false"
                autocapitalize="off"
                value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                aria-required="true"
                required
              >
            </div>
            {% comment %}
              <div class="field">
                <input
                  type="tel"
                  id="ContactForm-phone"
                  class="field__input"
                  autocomplete="tel"
                  name="contact[{{ 'templates.contact.form.phone' | t }}]"
                  pattern="[0-9\-]*"
                  value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}"
                >
                <label class="field__label" for="ContactForm-phone">{{ 'templates.contact.form.phone' | t }}</label>
              </div>
            {% endcomment %}
            <div class="form-group">
              <label class="form__label field__label" for="ContactForm-body">
                {{- 'templates.contact.form.comment' | t -}}
              </label>
              <textarea
                rows="10"
                id="ContactForm-body"
                class="text-area field__input"
                name="contact[{{ 'templates.contact.form.comment' | t }}]"
              >
                {{- form.body -}}
              </textarea>
            </div>
            <div class="form-group">
              <button type="submit" class="cta cta--black">
                <span>
                  {{ 'templates.contact.form.send' | t }}
                </span>
              </button>
            </div>
          {%- endform -%}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.contact-form.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "inline_richtext",
      "id": "headline",
      "default": "Contact form",
      "label": "Headline"
    },
    {
      "type": "richtext",
      "id": "content",
      "default": "<p>Lorem ipsum dolor sit amet.</p>",
      "label": "Content"
    }
  ],
  "presets": [
    {
      "name": "t:sections.contact-form.presets.name"
    }
  ]
}
{% endschema %}
