<footer class="footer color-{{ section.settings.color_scheme }}">
  <div class="container">
    {%- liquid
      assign has_social_icons = true
      if settings.social_facebook_link == blank and settings.social_instagram_link == blank and settings.social_youtube_link == blank and settings.social_tiktok_link == blank and settings.social_twitter_link == blank and settings.social_pinterest_link == blank and settings.social_snapchat_link == blank and settings.social_tumblr_link == blank and settings.social_vimeo_link == blank
        assign has_social_icons = false
      endif

      if section.blocks.size == 1 and section.blocks[0].type == 'brand_information' and brand_empty and has_social_icons == false and section.settings.newsletter_enable == false and section.settings.enable_follow_on_shop == false
        assign only_empty_brand = true
      endif
    -%}

    <div class="footer__top page-width">
      <div class="row">
        <div class="col-md-4 col-lg-6">
          <div class="footer__logo">
            <img
              src="{{ section.settings.footer_logo | image_url: width: 150 }}"
              width="{{ section.settings.footer_logo.width }}"
              height="{{ section.settings.footer_logo.height }}"
            >
          </div>
        </div>
        <div class="col-md-8 col-lg-6">
          <div class="text">
            {{ section.settings.footer_top_text }}
          </div>
        </div>
      </div>
    </div>

    {%- if section.blocks.size > 0
      or section.settings.newsletter_enable
      or section.settings.show_social
      or section.settings.enable_follow_on_shop
    -%}
    {%- endif -%}

    <div class="footer__main">
      <div class="row">
        <div class="col-lg-6">
          {%- if section.settings.show_social and has_social_icons -%}
            {%- render 'social-icons' -%}
          {%- endif -%}
        </div>
        <div class="col-lg-6">
          <div class="row">
            <div class="col-6 col-sm-4">
              <div class="footer__col">
                <h3 class="title title--footer">Our world</h3>

                <ul>
                  <li>
                    <a href=""> Home </a>
                  </li>
                  <li>
                    <a href=""> Our Products </a>
                  </li>
                  <li>
                    <a href=""> About us </a>
                  </li>
                  <li>
                    <a href=""> Services </a>
                  </li>
                  <li>
                    <a href=""> Stores </a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-6 col-sm-4">
              <div class="footer__col">
                <h3 class="title title--footer">Your Experience</h3>

                <ul>
                  <li>
                    <a href=""> Cart </a>
                  </li>
                  <li>
                    <a href=""> My Account </a>
                  </li>
                  <li>
                    {%- form 'localization', id: 'FooterLanguageForm', class: 'footer__locale' -%}
                      {% render 'language-localization', formId: 'FooterLanguageForm', inFooter: true %}
                    {%- endform -%}
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-6 col-sm-4">
              <div class="footer__col">
                <h3 class="title title--footer">Reach Out</h3>

                <div class="text">
                  <p>Contact Us</p>
                  <p>Georgstraße 35, 30159</p>
                  <p>Hannover</p>
                  <p>+49 511 360840</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer__copyright">
      <small class="copyright__content">
        &copy; {{ shop.name | link_to: routes.root_url -}}
        , {{ 'now' | date: '%Y' }}
      </small>

      <ul class="policies list-unstyled">
        {%- for policy in shop.policies -%}
          {%- if policy != blank -%}
            <li>
              <small class="copyright__content"
                ><a href="{{ policy.url }}">{{ policy.title }}</a></small
              >
            </li>
          {%- endif -%}
        {%- endfor -%}
      </ul>

      <a href="https://studiocontra.co" target="_blank"> Made by Contra </a>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Quick links",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    },
    {
      "type": "brand_information",
      "name": "t:sections.footer.blocks.brand_information.name",
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.footer.blocks.brand_information.settings.paragraph.content"
        },
        {
          "type": "header",
          "content": "t:sections.footer.blocks.brand_information.settings.header__1.content"
        },
        {
          "type": "checkbox",
          "id": "show_social",
          "default": true,
          "label": "t:sections.footer.blocks.brand_information.settings.show_social.label",
          "info": "t:sections.footer.blocks.brand_information.settings.show_social.info"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.footer.blocks.text.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Heading",
          "label": "t:sections.footer.blocks.text.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "subtext",
          "default": "<p>Share contact information, store details, and brand content with your customers.</p>",
          "label": "t:sections.footer.blocks.text.settings.subtext.label"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 50,
          "max": 550,
          "step": 5,
          "unit": "px",
          "label": "Image width",
          "default": 100
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Image alignment on large screen",
          "options": [
            {
              "value": "",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "Header Top Section"
    },
    {
      "type": "image_picker",
      "id": "footer_logo",
      "label": "Image"
    },
    {
      "type": "richtext",
      "id": "footer_top_text",
      "label": "Footer Top Text"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__2.content",
      "info": "t:sections.footer.settings.header__2.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": true,
      "label": "t:sections.footer.settings.show_social.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__5.content",
      "info": "t:sections.footer.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_language_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__7.content"
    },
    {
      "type": "checkbox",
      "id": "payment_enable",
      "default": true,
      "label": "t:sections.footer.settings.payment_enable.label"
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      },
      {
        "type": "text"
      }
    ]
  }
}
{% endschema %}
