<style>
  .predictive-search {
    position: relative;
    width: 500px;
  }
</style>

<script src="{{ 'search-form.js' | asset_url }}" defer="defer"></script>

<div class="wrap-header">
  <div v-if="isMenuOpen" class="header__space"></div>

  <transition name="fade">
    <div v-if="isSearchOpen" class="header__backdrop"></div>
  </transition>

  <header :class="{'header--fixed': isMenuOpen}">
    <div v-if="isCartOpen" class="backdrop" @click="isCartOpen = false"></div>
    <div class="container">
      <div class="header__mobile-toggle">
        <button
          class="header__hamburger"
          :class="{'header__hamburger--active': isMenuOpen}"
          id="button-open-menu"
          @click="toggleMenu"
        >
          <div class="header__hamburger__inner">
            <div></div>
          </div>
        </button>

        {% render 'header-search', input_id: 'Search-In-Modal-Mobile' %}
      </div>

      {%- form 'localization', id: 'LanguageForm', class: 'header__locale' -%}
        {% render 'language-localization', formId: 'LanguageForm' %}
      {%- endform -%}

      <div class="header__logo">
        {%- if settings.logo != blank -%}
          <a href="{{ routes.root_url }}">
            {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
            {{ settings.logo | image_url: width: 150 | image_tag: class: 'logo', alt: logo_alt, preload: true }}
            {{
              settings.logo_mobile
              | image_url: width: 50
              | image_tag: class: 'logo logo--mobile', alt: logo_alt, preload: true
            }}
          </a>
        {%- else -%}
          <span class="h2">{{ shop.name }}</span>
        {%- endif -%}
      </div>

      <div class="header__icons">
        {% render 'header-search', input_id: 'Search-In-Modal' %}

        {% assign full_url = shop.url | append: routes.cart_url %}

        {% if canonical_url != full_url %}
          <a
            href="#"
            class="header__icon header__icon--cart focus-inset"
            id="cart-icon-bubble"
            @click.prevent="isCartOpen = true"
          >
            {% render 'icon-cart' %}

            <span class="sr-only">{{ 'templates.cart.cart' | t }}</span>

            <div class="cart-count-bubble js-cart-count {% if cart == empty %}hidden{% endif %}">
              {%- if cart.item_count < 100 -%}
                <span aria-hidden="true">{{ cart.item_count }}</span>
              {%- endif -%}
              <span class="sr-only">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
            </div>
          </a>
        {% endif %}

        {%- if shop.customer_accounts_enabled -%}
          <a
            href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
            class="header__icon header__icon--account focus-inset{% if section.settings.menu != blank %} small-hide{% endif %}"
          >
            {% render 'icon-account' %}
            <span class="sr-only">
              {%- liquid
                if customer
                  echo 'customer.account_fallback' | t
                else
                  echo 'customer.log_in' | t
                endif
              -%}
            </span>
          </a>
        {%- endif -%}
      </div>

      <div class="header__nav" :class="{'header__nav--active': isMenuOpen}">
        <nav>
          <ul>
            {%- for link in section.settings.menu.links -%}
              <li
                @mouseenter.prevent="setPadding(null, $event)">
                <a
                  href="{{ link.url }}"
                  class="menu__link{% if link.current %} menu__link--active{% endif %}"
                  @click="openDropdown('menu-{{forloop.index0}}', $event)"
                >
                  {{ link.title }}

                {% if link.links.size > 0 %}
                  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><path fill="currentColor" d="m24 12l-8 10l-8-10z"/></svg>
                {% endif %}
                </a>

                {% if link.links.size > 0 %}
                  <ul
                    class="submenu"
                    data-id="menu-{{forloop.index0}}"
                    :style="{ paddingLeft: menuPadding + 'px' }">
                    {%- for childlink in link.links -%}
                      <li>
                        <a
                          href="{{ childlink.url }}"
                          class="menu__link{% if childlink.current %} menu__link--active{% endif %}"
                        >
                          {{ childlink.title }}
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
                {%- endif -%}
              </li>
            {%- endfor -%}
          </ul>
        </nav>

        {%- form 'localization', id: 'LanguageMobileForm', class: 'header__locale header__locale--mobile' -%}
          {% render 'language-localization', formId: 'LanguageMobileForm' %}
        {%- endform -%}
      </div>
    </div>

    {% if canonical_url != full_url %}
      <div class="cart-drawer" :class="{'active': isCartOpen}" @click="updateCartItem">
        <div
          v-if="isLoading"
          class="loader">
          <svg
            width="32"
            height="32"
            viewBox="0 0 24 24"
            class="spinner"
          >
            <path fill="none" stroke-dasharray="15" stroke-dashoffset="15" stroke-linecap="round" stroke-width="2" d="M12 3C16.9706 3 21 7.02944 21 12"><animate fill="freeze" attributeName="stroke-dashoffset" dur="0.2s" values="15;0"/><animateTransform attributeName="transform" dur="1.5s" repeatCount="indefinite" type="rotate" values="0 12 12;360 12 12"/></path>
          </svg>
        </div>

        <div class="cart-drawer__close" @click.stop="isCartOpen = false">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
            <path fill="currentColor" d="M18.3 5.71a.996.996 0 0 0-1.41 0L12 10.59L7.11 5.7A.996.996 0 1 0 5.7 7.11L10.59 12L5.7 16.89a.996.996 0 1 0 1.41 1.41L12 13.41l4.89 4.89a.996.996 0 1 0 1.41-1.41L13.41 12l4.89-4.89c.38-.38.38-1.02 0-1.4z"/>
          </svg>
        </div>
        {% render 'cart-products' %}
      </div>
    {% endif %}
  </header>
</div>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if settings.logo %}
      "logo": {{ settings.logo | image_url: width: 500 | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "Menu"
    }
  ]
}
{% endschema %}
