<div class="custom-block hero">
  <div class="container">
    {% if section.blocks %}
      <div class="swiper hero__slider js-hero-slider">
        <div class="swiper-wrapper">
          {% for block in section.blocks %}
            <div class="swiper-slide">
              <div class="slide__text">
                {% if forloop.first %}
                  <h1 class="title title--hero">
                    {{ block.settings.headline }}
                  </h1>
                {% else %}
                  <h2 class="title title--hero">
                    {{ block.settings.headline }}
                  </h2>
                {% endif %}
              </div>

              <div class="slide__content">
                {% if block.settings.video != blank %}
                  {{ block.settings.video | video_tag: autoplay: true, loop: true, muted: true, controls: false }}
                {% else %}
                  {% if block.settings.image != blank %}
                    <picture>
                      <source srcset="{{ block.settings.image | image_url: width: 2000 }}" media="(min-width: 1400px)">
                      <source srcset="{{ block.settings.image | image_url: width: 1500 }}" media="(min-width: 768px)">
                      <source srcset="{{ block.settings.image | image_url: width: 850 }}">
                      <img
                        src="{{ block.settings.image | image_url }}"
                        width="{{ block.settings.image.width }}"
                        height="{{ block.settings.image.height }}"
                      >
                    </picture>
                  {% endif %}
                {% endif %}

                {% if block.settings.button_link %}
                  <a class="cta cta--white" href="{{ block.settings.button_link }}">
                    <span>
                      {{ block.settings.button_label }}
                    </span>
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1.182 7.99996L14.8184 7.99996M14.8184 7.99996L8.2729 14.5454M14.8184 7.99996L8.2729 1.4545" stroke="black" stroke-width="1.6" stroke-linecap="square"/>
                    </svg>
                  </a>
                {% endif %}

                <!-- Swiper Navigation -->
                <div class="hero__slider__arrows">
                  <div class="swiper-button js-hero-prev">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M15.0914 7.99996L1.45508 7.99996M1.45508 7.99996L8.00053 14.5454M1.45508 7.99996L8.00053 1.4545" stroke="black" stroke-width="1.6" stroke-linecap="square"/>
                    </svg>
                  </div>
                  <div class="swiper-button js-hero-next">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1.182 7.99996L14.8184 7.99996M14.8184 7.99996L8.2729 14.5454M14.8184 7.99996L8.2729 1.4545" stroke="black" stroke-width="1.6" stroke-linecap="square"/>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Hero",
  "blocks": [
    {
      "name": "Slide",
      "type": "slide",
      "settings": [
        {
          "type": "text",
          "id": "headline",
          "label": "Headline",
          "default": "Lorem ipsum dolor"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "video",
          "id": "video",
          "label": "Video"
        },
        {
          "type": "header",
          "content": "Button"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label",
          "default": "Learn More"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Content",
      "name": "Hero",
      "settings": {}
    }
  ]
}
{% endschema %}
