{{ 'customer.css' | asset_url | stylesheet_tag }}
{{ 'customer-custom.min.css' | asset_url | stylesheet_tag }}

<div class="customer account">
  <div class="container">
    <div class="account__headline">
      <h1 class="title">
        {{ 'customer.account.title' | t }}
      </h1>
    </div>

    <div class="row justify-between">
      <div class="col-lg-4">
        <div class="account__details">
          <h2 class="title title--small">{{ 'customer.account.details' | t }}</h2>

          <div class="text text--big">
            {{ customer.default_address | format_address }}
          </div>

          <a href="{{ routes.account_addresses_url }}" class="cta cta--outline">
            <span> {{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }}) </span>
          </a>

          <a href="{{ routes.account_logout_url }}" class="cta cta--black">
            <span>
              {{ 'customer.log_out' | t }}
            </span>
          </a>
        </div>
      </div>

      <div class="col-lg-7">
        <div class="account__orders">
          <h2 class="title title--small">{{ 'customer.orders.title' | t }}</h2>

          {% paginate customer.orders by 20 %}
            {%- if customer.orders.size > 0 -%}
              <table role="table" class="order-history">
                <caption class="sr-only">
                  {{ 'customer.orders.title' | t }}
                </caption>
                <thead role="rowgroup">
                  <tr role="row">
                    <th id="ColumnOrder" scope="col" role="columnheader">{{ 'customer.orders.order_number' | t }}</th>
                    <th id="ColumnDate" scope="col" role="columnheader">{{ 'customer.orders.date' | t }}</th>
                    <th id="ColumnPayment" scope="col" role="columnheader">
                      {{ 'customer.orders.payment_status' | t }}
                    </th>
                    <th id="ColumnFulfillment" scope="col" role="columnheader">
                      {{ 'customer.orders.fulfillment_status' | t }}
                    </th>
                    <th id="ColumnTotal" scope="col" role="columnheader">{{ 'customer.orders.total' | t }}</th>
                  </tr>
                </thead>
                <tbody role="rowgroup">
                  {%- for order in customer.orders -%}
                    <tr role="row">
                      <td
                        id="RowOrder"
                        role="cell"
                        headers="ColumnOrder"
                        data-label="{{ 'customer.orders.order_number' | t }}"
                      >
                        <a
                          href="{{ order.customer_url }}"
                          aria-label="{{ 'customer.orders.order_number_link' | t: number: order.name }}"
                        >
                          {{ order.name }}
                        </a>
                      </td>
                      <td headers="RowOrder ColumnDate" role="cell" data-label="{{ 'customer.orders.date' | t }}">
                        {{ order.created_at | time_tag: format: 'date' }}
                      </td>
                      <td
                        headers="RowOrder ColumnPayment"
                        role="cell"
                        data-label="{{ 'customer.orders.payment_status' | t }}"
                      >
                        {{ order.financial_status_label }}
                      </td>
                      <td
                        headers="RowOrder ColumnFulfillment"
                        role="cell"
                        data-label="{{ 'customer.orders.fulfillment_status' | t }}"
                      >
                        {{ order.fulfillment_status_label }}
                      </td>
                      <td headers="RowOrder ColumnTotal" role="cell" data-label="{{ 'customer.orders.total' | t }}">
                        {{ order.total_net_amount | money_with_currency }}
                      </td>
                    </tr>
                  {%- endfor -%}
                </tbody>
              </table>
            {%- else -%}
              <div class="no-orders">
                <div class="text">
                  <p>{{ 'customer.orders.none' | t }}</p>
                </div>

                <a href="{{ routes.all_products_collection_url }}" class="cta cta--outline">
                  <span>
                    {{ 'general.continue_shopping' | t }}
                  </span>
                </a>
              </div>
            {%- endif -%}

            {%- if paginate.pages > 1 -%}
              {%- if paginate.parts.size > 0 -%}
                <nav class="pagination" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
                  <ul role="list">
                    {%- if paginate.previous -%}
                      <li>
                        <a href="{{ paginate.previous.url }}" aria-label="{{ 'general.pagination.previous' | t }}">
                          <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                          </svg>
                        </a>
                      </li>
                    {%- endif -%}

                    {%- for part in paginate.parts -%}
                      <li>
                        {%- if part.is_link -%}
                          <a href="{{ part.url }}" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">
                            {{- part.title -}}
                          </a>
                        {%- else -%}
                          {%- if part.title == paginate.current_page -%}
                            <span
                              aria-current="page"
                              aria-label="{{ 'general.pagination.page' | t: number: part.title }}"
                            >
                              {{- part.title -}}
                            </span>
                          {%- else -%}
                            <span>{{ part.title }}</span>
                          {%- endif -%}
                        {%- endif -%}
                      </li>
                    {%- endfor -%}

                    {%- if paginate.next -%}
                      <li>
                        <a href="{{ paginate.next.url }}" aria-label="{{ 'general.pagination.next' | t }}">
                          <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                          </svg>
                        </a>
                      </li>
                    {%- endif -%}
                  </ul>
                </nav>
              {%- endif -%}
            {%- endif -%}
          {% endpaginate %}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-account.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
