<div class="custom-block pre-footer">
  <div class="pre-footer__shape"></div>

  <div class="container">
    <div class="pre-footer__img">
      <picture>
        <source srcset="{{ section.settings.image | image_url: width: 450 }}" media="(min-width: 450px)">
        <source srcset="{{ section.settings.image | image_url: width: 250 }}">
        <img
          src="{{ section.settings.image | image_url }}"
          width="{{ section.settings.image.width }}"
          height="{{ section.settings.image.height }}"
        >
      </picture>
    </div>

    <div class="pre-footer__content">
      <h4 class="title title--hero--small">
        {{ section.settings.headline }}
      </h4>

      <div class="text">
        {{ section.settings.content }}
      </div>

      {% if section.settings.button_link %}
        <a href="{{ section.settings.button_link }}" class="link link--black">
          {{ section.settings.button_label }}
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.182 7.99996L14.8184 7.99996M14.8184 7.99996L8.2729 14.5454M14.8184 7.99996L8.2729 1.4545" stroke="black" stroke-width="1.6" stroke-linecap="square"/>
          </svg>
        </a>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Pre-footer",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "inline_richtext",
      "id": "headline",
      "label": "Headline"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
    {
      "type": "header",
      "content": "Settings"
    }
  ],
  "presets": [
    {
      "name": "Pre Footer"
    }
  ]
}
{% endschema %}
