{% comment %}
  Renders a collection card

  Accepts:
  - card_collection: {Object} Collection Liquid object
  - placeholder_image: {String} Placeholder image when collection is empty (optional)

  Usage:
  {% render 'card-collection' %}
{% endcomment %}

{%- if card_collection and card_collection != empty -%}
  <div class="collection-list__card">
    <h3 class="title title--small">
      {{ card_collection.title }}
    </h3>

    <div class="card__img">
      {%- if card_collection.image -%}
        <picture>
          <source srcset="{{ card_collection.image | image_url: width: 650 }}" media="(min-width: 450px)">
          <source srcset="{{ card_collection.image | image_url: width: 450 }}">
          <img
            src="{{ card_collection.image | image_url }}"
            width="{{ card_collection.image.width }}"
            height="{{ card_collection.image.height }}"
          >
        </picture>
      {%- else -%}
        {{ placeholder_image | placeholder_svg_tag: 'placeholder-svg' }}
      {%- endif -%}
    </div>

    <div class="card__footer">
      <span> {{ forloop.index }} / {{ forloop.length }} </span>

      <span class="link"> Discover Now </span>
    </div>
  </div>
{%- else -%}
  <div class="collection-list__card">
    <h3 class="title title--small">
      {{ 'onboarding.collection_title' | t }}
    </h3>

    <div class="card__img">
      {{ placeholder_image | placeholder_svg_tag: 'placeholder-svg' }}
    </div>

    <div class="card__footer">
      <span> {{ forloop.index }} / {{ forloop.length }} </span>

      <span class="link"> Discover Now </span>
    </div>
  </div>
{%- endif -%}
