{% comment %}
  Renders facets (filtering and sorting)

  Accepts:
  - results: {Object} Collection or Search object
  - enable_filtering: {Boolean} Show filtering when true
  - enable_sorting: {Boolean} Show sorting when true
  - filter_type: {String} Type of filter
  - paginate: {Object}

  Usage:
  {% render 'facets', results: collection, enable_filtering: true, enable_sorting: true, filter_type: 'vertical', paginate: paginate %}
{% endcomment %}

{%- liquid
  assign sort_by = results.sort_by | default: results.default_sort_by
  assign total_active_values = 0
  if results.url
    assign results_url = results.url
  else
    assign terms = results.terms | escape
    assign results_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by
  endif
-%}

{% comment %}  Drawer and mobile filter {% endcomment %}
<menu-drawer Class="facets-container">
  <span id="ProductCount">
    {%- if results.results_count -%}
      {{ 'templates.search.results_with_count' | t: terms: results.terms, count: results.results_count }}
    {%- elsif results.products_count == results.all_products_count -%}
      {{ 'products.facets.product_count_simple' | t: count: results.products_count }}
    {%- else -%}
      {{
        'products.facets.product_count'
        | t: product_count: results.products_count, count: results.all_products_count
      }}
    {%- endif -%}
  </span>

  <details class="facets__wrapper">
    <summary class="facets__toggle">
      <span class="facets__open{% if filter_type == 'drawer' and enable_filtering == false %} medium-hide large-up-hide{% endif %}">
        {% render 'icon-filter' %}
      </span>
      <span tabindex="0" class="facets__close">{%- render 'icon-close' -%}</span>
    </summary>
    <facet-filters-form>
      <form id="FacetFiltersFormMobile" class="facets">
        <div class="facets-form">
          <div class="facets__header">
            <div class="facets__header-inner">
              <h2 class="title title--small">
                {%- if enable_filtering and enable_sorting -%}
                  {{ 'products.facets.filter_and_sort' | t }}
                {%- elsif enable_filtering -%}
                  {{ 'products.facets.filter_button' | t }}
                {%- elsif enable_sorting -%}
                  {{ 'products.facets.sort_button' | t }}
                {%- endif -%}
              </h2>
              <p class="facets__count">
                {%- if results.results_count -%}
                  {{ 'templates.search.results_with_count' | t: terms: results.terms, count: results.results_count }}
                {%- elsif results.products_count == results.all_products_count -%}
                  {{ 'products.facets.product_count_simple' | t: count: results.products_count }}
                {%- else -%}
                  {{
                    'products.facets.product_count'
                    | t: product_count: results.products_count, count: results.all_products_count
                  }}
                {%- endif -%}
              </p>
            </div>
          </div>

          <div class="facets__main has-submenu gradient">
            {%- if enable_filtering -%}
              {%- for filter in results.filters -%}
                {% case filter.type %}
                  {% when 'boolean', 'list' %}
                    <div class="facets__group">
                      <h4 class="title title--footer">
                        {{ filter.label | escape }}
                      </h4>
                      <ul class="facets__list list-unstyled" role="list">
                        {%- for value in filter.values -%}
                          <li class="facets__item list-menu__item">
                            <label
                              for="Filter-{{ filter.param_name | escape }}-mobile-{{ forloop.index }}"
                              class="facets__label{% if value.count == 0 and value.active == false %} facets__label--disabled{% endif %}"
                            >
                              <input
                                class="facets__checkbox"
                                type="checkbox"
                                name="{{ value.param_name }}"
                                value="{{ value.value }}"
                                id="Filter-{{ filter.param_name | escape }}-mobile-{{ forloop.index }}"
                                {% if value.active %}
                                  checked
                                {% endif %}
                                {% if value.count == 0 and value.active == false %}
                                  disabled
                                {% endif %}
                              >

                              <span aria-hidden="true">{{ value.label | escape }} ({{ value.count }})</span>
                              <span class="sr-only">
                                {{- value.label | escape }} (
                                {%- if value.count == '1' -%}
                                  {{- 'products.facets.product_count_simple.one' | t: count: value.count -}}
                                {%- else -%}
                                  {{- 'products.facets.product_count_simple.other' | t: count: value.count -}}
                                {%- endif -%}
                                )</span
                              >
                            </label>
                          </li>
                        {%- endfor -%}
                      </ul>
                    </div>
                  {% when 'price_range' %}
                    <div class="facets__group">
                      <h4 class="title title--footer">
                        {{ filter.label | escape }}
                      </h4>

                      <div class="text">
                        {%- assign max_price_amount = filter.range_max | money | strip_html | escape -%}
                        <p>
                          {{ 'products.facets.max_price' | t: price: max_price_amount }}
                        </p>
                      </div>

                      <price-range class="facets__price">
                        <div class="field">
                          <span class="field__currency">{{ cart.currency.symbol }}</span>
                          <input
                            class="field__input"
                            name="{{ filter.min_value.param_name }}"
                            id="Mobile-Filter-{{ filter.label | escape }}-GTE"
                            {%- if filter.min_value.value -%}
                              {%- if uses_comma_decimals -%}
                                value="{{ filter.min_value.value | money_without_currency }}"
                              {%- else -%}
                                value="{{ filter.min_value.value | money_without_currency }}"
                              {%- endif %}
                            {%- endif -%}
                            type="number"
                            min="0"
                            inputmode="decimal"
                            {%- if uses_comma_decimals -%}
                              max="{{ filter.range_max | money_without_currency }}"
                            {%- else -%}
                              max="{{ filter.range_max | money_without_currency }}"
                            {% endif %}
                          >
                          <label class="field__label" for="Mobile-Filter-{{ filter.label | escape }}-GTE">
                            {{- 'products.facets.from' | t -}}
                          </label>
                        </div>

                        <div class="field">
                          <span class="field__currency">{{ cart.currency.symbol }}</span>
                          <input
                            class="field__input"
                            name="{{ filter.max_value.param_name }}"
                            id="Mobile-Filter-{{ filter.label | escape }}-LTE"
                            {%- if filter.max_value.value -%}
                              {%- if uses_comma_decimals -%}
                                value="{{ filter.max_value.value | money_without_currency }}"
                              {%- else -%}
                                value="{{ filter.max_value.value | money_without_currency }}"
                              {%- endif %}
                            {%- endif -%}
                            type="number"
                            min="0"
                            inputmode="decimal"
                            {%- if uses_comma_decimals -%}
                              max="{{ filter.range_max | money_without_currency }}"
                            {%- else -%}
                              max="{{ filter.range_max | money_without_currency }}"
                            {% endif %}
                          >
                          <label class="field__label" for="Mobile-Filter-{{ filter.label | escape }}-LTE">
                            {{- 'products.facets.to' | t -}}
                          </label>
                        </div>

                        {% comment %}
                          <div class="slider">
                            <div class="progress"></div>
                          </div>

                          <div class="range-input">
                            <input type="range" class="range-min" min="0" max="10000" value="2500" step="100">
                            <input type="range" class="range-max" min="0" max="10000" value="7500" step="100">
                          </div>
                        {% endcomment %}
                      </price-range>
                    </div>
                {% endcase %}
              {%- endfor -%}
            {%- endif -%}

            {%- if enable_sorting -%}
              <div class="facets__group">
                <div class="facets__summary">
                  <div class="facets__sort">
                    <label class="title title--footer" for="SortBy-mobile">
                      {{- 'products.facets.sort_by_label' | t -}}
                    </label>
                    <div class="select">
                      <select
                        name="sort_by"
                        class="select__select"
                        id="SortBy-mobile"
                        aria-describedby="a11y-refresh-page-message"
                      >
                        {%- for option in results.sort_options -%}
                          <option
                            value="{{ option.value | escape }}"
                            {% if option.value == sort_by %}
                              selected="selected"
                            {% endif %}
                          >
                            {{ option.name | escape }}
                          </option>
                        {%- endfor -%}
                      </select>
                      {% render 'icon-caret' %}
                    </div>
                  </div>
                </div>
              </div>
            {%- endif -%}
          </div>

          <div class="facets__footer">
            <button
              type="button"
              class="cta cta--black"
              onclick="this.closest('.facets__wrapper').querySelector('summary').click()"
            >
              <span>
                {{ 'products.facets.apply' | t }}
              </span>
            </button>
            <facet-remove class="facets__clear-wrapper">
              <a href="{{ results_url }}" class="link">
                {{- 'products.facets.clear_all' | t -}}
              </a>
            </facet-remove>
          </div>

          {% if results.current_vendor or results.current_type %}
            <input type="hidden" name="q" value="{{ results.current_vendor }}{{ results.current_type }}">
          {% endif %}

          {%- if results.terms -%}
            <input type="hidden" name="q" value="{{ results.terms | escape }}">
            <input name="options[prefix]" type="hidden" value="last">
          {%- endif -%}
        </div>
      </form>
    </facet-filters-form>
  </details>
</menu-drawer>
