{% comment %}
  Renders a header search modal. Should be used with 'header.liquid'

  Accepts:
  - input_id: {String} Id for the search input element (required)
  - custom_class: {String} Custom class

  Usage:
  {% render 'header-search', input_id: 'My-Id'%}
{% endcomment %}
<div class="header__search {%- if custom_class -%} {{custom_class}} {%- endif -%}">
  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="icon-search" viewBox="0 0 20 20" fill="none">
      <path d="M8 2C4.68629 2 2 4.68629 2 8C2 11.3137 4.68629 14 8 14C11.3137 14 14 11.3137 14 8C14 4.68629 11.3137 2 8 2ZM0 8C0 3.58172 3.58172 0 8 0C12.4183 0 16 3.58172 16 8C16 9.84871 15.3729 11.551 14.3199 12.9056L19.7071 18.2929C20.0976 18.6834 20.0976 19.3166 19.7071 19.7071C19.3166 20.0976 18.6834 20.0976 18.2929 19.7071L12.9056 14.3199C11.551 15.3729 9.84871 16 8 16C3.58172 16 0 12.4183 0 8Z" fill="currentColor"/>
    </symbol>

    <symbol id="icon-close" class="icon icon-close" fill="none" viewBox="0 0 18 17">
      <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor">
    </symbol>
  </svg>

  <div
    class="header__icon header__icon--search"
    aria-haspopup="dialog"
    aria-label="{{ 'general.search.search' | t }}"
    @click="toggleSearch"
  >
    <svg class="modal__toggle-open icon icon-search" aria-hidden="true" focusable="false">
      <use href="#icon-search">
    </svg>
  </div>
</div>

<transition name="slide">
<div
  v-show="isSearchOpen"
  class="search-modal"
  role="dialog"
  aria-modal="true"
  aria-label="{{ 'general.search.search' | t }}"
>
  <div class="container">
    <predictive-search
      class="search-modal__form"
      data-loading-text="{{ 'accessibility.loading' | t }}">
      <form action="{{ routes.search_url }}" method="get" role="search" class="search">
        <div class="form__input">
          <div class="predictive-search__loading-state">
            <svg
              width="32"
              height="32"
              viewBox="0 0 24 24"
              class="spinner"
            >
              <path fill="none" stroke-dasharray="15" stroke-dashoffset="15" stroke-linecap="round" stroke-width="2" d="M12 3C16.9706 3 21 7.02944 21 12"><animate fill="freeze" attributeName="stroke-dashoffset" dur="0.3s" values="15;0"/><animateTransform attributeName="transform" dur="1.5s" repeatCount="indefinite" type="rotate" values="0 12 12;360 12 12"/></path>
            </svg>
          </div>

          <input
            class="search__input field__input"
            id="{{ input_id }}"
            type="search"
            name="q"
            value="{{ search.terms | escape }}"
            placeholder="{{ 'general.search.search' | t }}"
            autofocus
            {%- if settings.predictive_search_enabled -%}
              role="combobox"
              aria-expanded="false"
              aria-owns="predictive-search-results"
              aria-controls="predictive-search-results"
              aria-haspopup="listbox"
              aria-autocomplete="list"
              autocorrect="off"
              autocomplete="off"
              autocapitalize="off"
              spellcheck="false"
            {%- endif -%}
          >
          <input type="hidden" name="options[prefix]" value="last">

          <button
            type="reset"
            class="reset__button field__button"
            aria-label="Clear search term"
            @click="toggleSearch">
            <svg class="icon icon-close" aria-hidden="true" focusable="false">
              <use xlink:href="#icon-close">
            </use></svg>
          </button>
        </div>

        {%- if settings.predictive_search_enabled -%}
          <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search></div>

          <span class="predictive-search-status sr-only" role="status" aria-hidden="true"></span>
        {%- endif -%}
      </form>
    </predictive-search>
  </div>
</div>
</transition>
