{%- comment -%}
  Renders the language picker for the localization form

  Accepts:
    - formId: pass in the position in which the form is coming up to create specific IDs
{%- endcomment -%}

{%- if localization.available_languages.size > 1 -%}
  {%- for language in localization.available_languages -%}
    {% if language.iso_code != localization.language.iso_code %}
      <input type="hidden" name="locale_code" value="{{ language.iso_code }}">
      <input type="hidden" name="country_code" value="{{ language.iso_code }}">
    {% endif %}

    <button
      class="locale__link{% if language.iso_code == localization.language.iso_code %} locale__link--active{% endif %}"
      href="#"
      hreflang="{{ language.iso_code }}"
      lang="{{ language.iso_code }}"
      {% if language.iso_code == localization.language.iso_code %}
        aria-current="true"
      {% else %}
        type="submit"
      {% endif %}
    >
      {{ language.iso_code }}
    </button>
    {% unless forloop.last %}
      {% if inFooter %}
        <div class="bull">/</div>
      {% else %}
        <div class="bull">&bull;</div>
      {% endif %}
    {% endunless %}
  {%- endfor -%}
{%- endif -%}
